{% extends "base.html" %}
{% block content %}


  <table  class="table table-striped">
    <thead>
      <tr>
        <th>№</th>
        <th>ФИО</th>
        <th>Мобильный</th>
         <th>Рабочий</th>
         <th>Домашний</th>
         <th>IP</th>
      </tr>
    </thead>
    <tbody>
  {% for contact in contacts %}
      <tr>
      <td>{{ contact.id }}</td>
      <td>{{ contact.fio }}</td>
      <td>{{contact.number}}</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>

      {% else %}
    <em>Unbelievable.  No entries here so far</em>
  {% endfor %}
</tbody>
  </table>
{% endblock %}